In [7]:
from features.data_provider import get_whole_dataset
from notebook_helpers import fix_label, get_cv_grid_search_arguments, run_grid_search_for_outcome

In [2]:
params = {"oob_score":True, "bootstrap":True, "n_jobs":-1, "n_estimators": 2000}

In [ ]:
X, y = get_whole_dataset("home_win")
y = fix_label(y, 1)
arguments = get_cv_grid_search_arguments(params, X)
results = run_grid_search_for_outcome(arguments, X, y)
results.to_csv("onevsrest_home_hyperparam_optimization.csv")
results.sort_values(['test_acc', 'test_logloss'], ascending=[False, True])

In [ ]:
X, y = get_whole_dataset("home_win")
y = fix_label(y, 0)
arguments = get_cv_grid_search_arguments(params, X)
results = run_grid_search_for_outcome(arguments, X, y)
results.to_csv("onevsrest_draw_hyperparam_optimization.csv")
results.sort_values(['test_acc', 'test_logloss'], ascending=[False, True])

In [ ]:
X, y = get_whole_dataset("home_win")
y = fix_label(y, -1)
arguments = get_cv_grid_search_arguments(params, X)
results = run_grid_search_for_outcome(arguments, X, y)
results.to_csv("onevsrest_away_hyperparam_optimization.csv")
results.sort_values(['test_acc', 'test_logloss'], ascending=[False, True])

In [14]:
import pandas as pd
results = pd.read_csv("onevsrest_home_hyperparam_optimization.csv")
results = results.round(4)
results.sort_values(['test_acc', 'test_logloss'], ascending=[False, True])

,Unnamed: 0,max_depth,max_features,min_samples_leaf,test_acc,test_logloss
28,28,8.0,sqrt,15,0.7246,0.5423
16,16,5.0,sqrt,10,0.7244,0.5435
22,22,8.0,sqrt,3,0.7242,0.5431
21,21,8.0,log2,1,0.7234,0.5436
10,10,5.0,sqrt,1,0.7234,0.5437
39,39,12.0,log2,15,0.7234,0.5440
20,20,8.0,sqrt,1,0.7231,0.5430
25,25,8.0,log2,5,0.7229,0.5434
24,24,8.0,sqrt,5,0.7227,0.5428
14,14,5.0,sqrt,5,0.7227,0.5436
26,26,8.0,sqrt,10,0.7225,0.5427
11,11,5.0,log2,1,0.7225,0.5447
48,48,NaN,sqrt,15,0.7221,0.5436
12,12,5.0,sqrt,3,0.7221,0.5437
15,15,5.0,log2,5,0.7221,0.5446
18,18,5.0,sqrt,15,0.7219,0.5433
19,19,5.0,log2,15,0.7219,0.5445
38,38,12.0,sqrt,15,0.7217,0.5435
29,29,8.0,log2,15,0.7215,0.5431
49,49,NaN,log2,15,0.7215,0.5441
17,17,5.0,log2,10,0.7215,0.5446
27,27,8.0,log2,10,0.7212,0.5431
13,13,5.0,log2,3,0.7210,0.5446
23,23,8.0,log2,3,0.7204,0.5435
47,47,NaN,log2,10,0.7198,0.5450
46,46,NaN,sqrt,10,0.7191,0.5444
0,0,3.0,sqrt,1,0.7189,0.5504
36,36,12.0,sqrt,10,0.7187,0.5442
43,43,NaN,log2,3,0.7185,0.5501
37,37,12.0,log2,10,0.7181,0.5444
33,33,12.0,log2,3,0.7181,0.5474
45,45,NaN,log2,5,0.7181,0.5476
7,7,3.0,log2,10,0.7181,0.5515
35,35,12.0,log2,5,0.7179,0.5461
8,8,3.0,sqrt,15,0.7179,0.5503
9,9,3.0,log2,15,0.7179,0.5516
2,2,3.0,sqrt,3,0.7177,0.5505
34,34,12.0,sqrt,5,0.7172,0.5459
31,31,12.0,log2,1,0.7172,0.5495
6,6,3.0,sqrt,10,0.7170,0.5501
1,1,3.0,log2,1,0.7170,0.5517
32,32,12.0,sqrt,3,0.7166,0.5469
44,44,NaN,sqrt,5,0.7164,0.5475
30,30,12.0,sqrt,1,0.7164,0.5489
4,4,3.0,sqrt,5,0.7164,0.5504
42,42,NaN,sqrt,3,0.7162,0.5500
3,3,3.0,log2,3,0.7162,0.5519
5,5,3.0,log2,5,0.7160,0.5519
40,40,NaN,sqrt,1,0.7149,0.5549
41,41,NaN,log2,1,0.7143,0.5553

In [16]:
import pandas as pd
results = pd.read_csv("onevsrest_draw_hyperparam_optimization.csv")
results = results.round(4)
results.sort_values(['test_acc', 'test_logloss'], ascending=[False, True])

,Unnamed: 0,max_depth,max_features,min_samples_leaf,test_acc,test_logloss
28,28,8.0,sqrt,15,0.7641,0.5330
16,16,5.0,sqrt,10,0.7641,0.5331
18,18,5.0,sqrt,15,0.7641,0.5331
26,26,8.0,sqrt,10,0.7641,0.5331
29,29,8.0,log2,15,0.7641,0.5332
12,12,5.0,sqrt,3,0.7641,0.5333
14,14,5.0,sqrt,5,0.7641,0.5333
19,19,5.0,log2,15,0.7641,0.5333
10,10,5.0,sqrt,1,0.7641,0.5334
17,17,5.0,log2,10,0.7641,0.5334
13,13,5.0,log2,3,0.7641,0.5335
15,15,5.0,log2,5,0.7641,0.5335
27,27,8.0,log2,10,0.7641,0.5335
24,24,8.0,sqrt,5,0.7641,0.5336
11,11,5.0,log2,1,0.7641,0.5337
25,25,8.0,log2,5,0.7641,0.5337
22,22,8.0,sqrt,3,0.7641,0.5340
23,23,8.0,log2,3,0.7641,0.5340
39,39,12.0,log2,15,0.7641,0.5340
38,38,12.0,sqrt,15,0.7641,0.5342
8,8,3.0,sqrt,15,0.7641,0.5344
21,21,8.0,log2,1,0.7641,0.5344
36,36,12.0,sqrt,10,0.7641,0.5345
37,37,12.0,log2,10,0.7641,0.5345
6,6,3.0,sqrt,10,0.7641,0.5346
20,20,8.0,sqrt,1,0.7641,0.5346
2,2,3.0,sqrt,3,0.7641,0.5347
4,4,3.0,sqrt,5,0.7641,0.5347
9,9,3.0,log2,15,0.7641,0.5347
0,0,3.0,sqrt,1,0.7641,0.5348
7,7,3.0,log2,10,0.7641,0.5348
5,5,3.0,log2,5,0.7641,0.5350
1,1,3.0,log2,1,0.7641,0.5351
49,49,NaN,log2,15,0.7641,0.5351
3,3,3.0,log2,3,0.7641,0.5352
48,48,NaN,sqrt,15,0.7641,0.5352
35,35,12.0,log2,5,0.7641,0.5356
34,34,12.0,sqrt,5,0.7641,0.5357
33,33,12.0,log2,3,0.7641,0.5359
47,47,NaN,log2,10,0.7641,0.5362
46,46,NaN,sqrt,10,0.7641,0.5364
32,32,12.0,sqrt,3,0.7639,0.5366
31,31,12.0,log2,1,0.7637,0.5373
44,44,NaN,sqrt,5,0.7635,0.5391
30,30,12.0,sqrt,1,0.7632,0.5374
45,45,NaN,log2,5,0.7632,0.5389
43,43,NaN,log2,3,0.7618,0.5416
42,42,NaN,sqrt,3,0.7616,0.5418
41,41,NaN,log2,1,0.7597,0.5469
40,40,NaN,sqrt,1,0.7594,0.5476

In [15]:
import pandas as pd
results = pd.read_csv("onevsrest_away_hyperparam_optimization.csv")
results = results.round(4)
results.sort_values(['test_acc', 'test_logloss'], ascending=[False, True])

,Unnamed: 0,max_depth,max_features,min_samples_leaf,test_acc,test_logloss
39,39,12.0,log2,15,0.7175,0.5547
27,27,8.0,log2,10,0.7170,0.5540
22,22,8.0,sqrt,3,0.7170,0.5545
23,23,8.0,log2,3,0.7170,0.5548
36,36,12.0,sqrt,10,0.7170,0.5554
28,28,8.0,sqrt,15,0.7168,0.5530
26,26,8.0,sqrt,10,0.7164,0.5531
18,18,5.0,sqrt,15,0.7164,0.5542
10,10,5.0,sqrt,1,0.7164,0.5543
29,29,8.0,log2,15,0.7162,0.5542
48,48,NaN,sqrt,15,0.7162,0.5544
25,25,8.0,log2,5,0.7162,0.5547
49,49,NaN,log2,15,0.7162,0.5550
46,46,NaN,sqrt,10,0.7162,0.5557
37,37,12.0,log2,10,0.7160,0.5555
47,47,NaN,log2,10,0.7160,0.5561
38,38,12.0,sqrt,15,0.7158,0.5540
13,13,5.0,log2,3,0.7156,0.5555
12,12,5.0,sqrt,3,0.7153,0.5542
14,14,5.0,sqrt,5,0.7153,0.5543
24,24,8.0,sqrt,5,0.7151,0.5544
19,19,5.0,log2,15,0.7151,0.5554
35,35,12.0,log2,5,0.7151,0.5583
21,21,8.0,log2,1,0.7149,0.5555
15,15,5.0,log2,5,0.7147,0.5553
11,11,5.0,log2,1,0.7147,0.5555
32,32,12.0,sqrt,3,0.7147,0.5596
16,16,5.0,sqrt,10,0.7145,0.5542
20,20,8.0,sqrt,1,0.7143,0.5551
34,34,12.0,sqrt,5,0.7141,0.5582
17,17,5.0,log2,10,0.7139,0.5555
33,33,12.0,log2,3,0.7139,0.5600
30,30,12.0,sqrt,1,0.7134,0.5633
44,44,NaN,sqrt,5,0.7126,0.5596
45,45,NaN,log2,5,0.7122,0.5594
42,42,NaN,sqrt,3,0.7122,0.5634
8,8,3.0,sqrt,15,0.7120,0.5614
0,0,3.0,sqrt,1,0.7118,0.5614
6,6,3.0,sqrt,10,0.7113,0.5611
2,2,3.0,sqrt,3,0.7113,0.5616
31,31,12.0,log2,1,0.7113,0.5632
4,4,3.0,sqrt,5,0.7107,0.5614
43,43,NaN,log2,3,0.7103,0.5632
1,1,3.0,log2,1,0.7092,0.5631
5,5,3.0,log2,5,0.7090,0.5628
3,3,3.0,log2,3,0.7090,0.5631
7,7,3.0,log2,10,0.7088,0.5627
9,9,3.0,log2,15,0.7088,0.5629
40,40,NaN,sqrt,1,0.7086,0.5699
41,41,NaN,log2,1,0.7071,0.5703