In [1]:
import numpy as np
import pandas as pd
from time import time
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, log_loss, accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('svg')
%matplotlib inline
plt.style.use('ggplot')

from features.data_provider import get_train_and_test_dataset, get_feature_columns, get_whole_dataset
from models.helpers import get_feature_importance
from notebook_helpers import run_custom_grid_search

In [2]:
X_train, y_train, X_test, y_test = get_train_and_test_dataset("home_win")

In [4]:
params = {"oob_score":True, "bootstrap":True, "n_jobs":-1, "n_estimators": 5000} 
results = run_custom_grid_search(params, X_train, y_train, X_test, y_test)

Parameter estimation took:  616.1557083129883

NameError: name 'get_best_params' is not defined

In [5]:
results.to_csv("outcome_hyperparam_optimization.csv")
results.sort_values(['test_acc', 'test_logloss'], ascending=[False, True])

,max_depth,max_features,min_samples_leaf,test_acc,test_logloss,test_mae,test_mse
19,5.0,log2,15,0.593286,0.921258,0.597190,0.978142
13,5.0,log2,3,0.592506,0.922284,0.597190,0.976581
25,8.0,log2,5,0.591725,0.918667,0.588603,0.949258
17,5.0,log2,10,0.591725,0.921624,0.600312,0.984387
15,5.0,log2,5,0.591725,0.921874,0.598751,0.979703
20,8.0,sqrt,1,0.590945,0.918577,0.589383,0.950039
21,8.0,log2,1,0.590945,0.919463,0.588603,0.947697
10,5.0,sqrt,1,0.590945,0.920089,0.600312,0.982826
11,5.0,log2,1,0.590945,0.921907,0.600312,0.982826
16,5.0,sqrt,10,0.590164,0.919649,0.602654,0.988290
18,5.0,sqrt,15,0.590164,0.919793,0.603435,0.990632
14,5.0,sqrt,5,0.590164,0.919834,0.601874,0.985948
23,8.0,log2,3,0.589383,0.919281,0.592506,0.956284
27,8.0,log2,10,0.588603,0.918392,0.594848,0.961749
22,8.0,sqrt,3,0.588603,0.918522,0.593286,0.957065
36,12.0,sqrt,10,0.588603,0.918549,0.590164,0.947697
46,NaN,sqrt,10,0.588603,0.919077,0.590945,0.950039
37,12.0,log2,10,0.588603,0.919629,0.590945,0.950039
12,5.0,sqrt,3,0.588603,0.920456,0.604996,0.992194
35,12.0,log2,5,0.588603,0.921321,0.591725,0.952381
28,8.0,sqrt,15,0.587822,0.917445,0.596409,0.964871
24,8.0,sqrt,5,0.587822,0.918502,0.594848,0.960187
49,NaN,log2,15,0.587822,0.919009,0.594067,0.957845
47,NaN,log2,10,0.587822,0.920067,0.590945,0.948478
32,12.0,sqrt,3,0.587822,0.923332,0.588603,0.941452
45,NaN,log2,5,0.587822,0.923557,0.590164,0.946136
34,12.0,sqrt,5,0.587041,0.921895,0.593286,0.953942
42,NaN,sqrt,3,0.587041,0.926681,0.590945,0.946916
33,12.0,log2,3,0.586261,0.924283,0.591725,0.947697
31,12.0,log2,1,0.586261,0.926942,0.591725,0.947697
26,8.0,sqrt,10,0.585480,0.917240,0.601093,0.974239
38,12.0,sqrt,15,0.585480,0.917713,0.596409,0.960187
39,12.0,log2,15,0.585480,0.919183,0.599532,0.969555
8,3.0,sqrt,15,0.585480,0.929681,0.612802,1.009368
48,NaN,sqrt,15,0.584699,0.917821,0.600312,0.970336
29,8.0,log2,15,0.584699,0.918297,0.600312,0.970336
44,NaN,sqrt,5,0.584699,0.923327,0.596409,0.958626
4,3.0,sqrt,5,0.584699,0.929403,0.614364,1.012490
2,3.0,sqrt,3,0.584699,0.929708,0.614364,1.012490
0,3.0,sqrt,1,0.584699,0.930118,0.614364,1.012490
43,NaN,log2,3,0.583919,0.927235,0.594067,0.950039
6,3.0,sqrt,10,0.583138,0.929822,0.617486,1.018735
5,3.0,log2,5,0.583138,0.931889,0.617486,1.018735
7,3.0,log2,10,0.583138,0.931986,0.617486,1.018735
1,3.0,log2,1,0.583138,0.932305,0.617486,1.018735
3,3.0,log2,3,0.582358,0.931979,0.619048,1.021858
9,3.0,log2,15,0.582358,0.932050,0.619048,1.021858
30,12.0,sqrt,1,0.580796,0.928213,0.601093,0.964871
41,NaN,log2,1,0.580016,0.937602,0.596409,0.949258
40,NaN,sqrt,1,0.578454,0.938281,0.598751,0.953162

In [ ]:
X_train, y_train, X_test, y_test = get_train_and_test_dataset("home_win")
def get_labeled_df(s):
    df = pd.DataFrame(s)
    df[df["home_win"] == 1] = "Win"
    df[df["home_win"] == 0] = "Draw"
    df[df["home_win"] == -1] = "Lose"
    return df

plt.figure(figsize=(20, 6))
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 4))
pd.value_counts(get_labeled_df(y_train)["home_win"]).plot.bar(ax=axes[0])
pd.value_counts(get_labeled_df(y_test)["home_win"]).plot.bar(ax=axes[1])

In [ ]:
best_params = {'max_depth': 5.0, 'max_features': 'sqrt', 'min_samples_leaf': 5}
params.pop("n_estimators", None)
params.update(best_params)

#n_estimators = [200, 500, 1000, 2000, 5000]
n_estimators = []
for k in n_estimators:
    results = []
    for i in range(0, 10):
        params["n_estimators"] = k
        clf = RandomForestClassifier(**params)
        clf.fit(X_train, y_train)

        test_acc = clf.score(X_test, y_test)
        results.append(test_acc)

    print("K estimators: ", k)
    print("std: ", np.std(results))
    print("Mean: ", np.mean(results))